networks:
  proxy:
    name: proxy

secrets:
  authelia_session_secret:
    file: ${APPDATA_LOCATION:-/srv/appdata}/secrets/authelia_session_secret
  authelia_storage_encryption_key:
    file: ${APPDATA_LOCATION:-/srv/appdata}/secrets/authelia_storage_encryption_key
  smtp_password:
    file: ${APPDATA_LOCATION:-/srv/appdata}/secrets/smtp_password
  ldap_jwt_secret:
    file: ${APPDATA_LOCATION:-/srv/appdata}/secrets/ldap_jwt_secret
  ldap_key_seed:
    file: ${APPDATA_LOCATION:-/srv/appdata}/secrets/ldap_key_seed
  ldap_admin_password:
    file: ${APPDATA_LOCATION:-/srv/appdata}/secrets/ldap_admin_password
  ldap_authelia_password:
    file: ${APPDATA_LOCATION:-/srv/appdata}/secrets/ldap_authelia_password
  oidc_hmac_secret:
    file: ${APPDATA_LOCATION:-/srv/appdata}/secrets/oidc_hmac_secret
  oidc_jwks_key:
    file: ${APPDATA_LOCATION:-/srv/appdata}/secrets/oidc_jwks_key
  oidc_grafana_digest:
    file: ${APPDATA_LOCATION:-/srv/appdata}/secrets/oidc_grafana_digest
  oidc_grafana_password:
    file: ${APPDATA_LOCATION:-/srv/appdata}/secrets/oidc_grafana_password
  cloudflare_dns_api_token:
    file: ${APPDATA_LOCATION:-/srv/appdata}/secrets/cloudflare_dns_api_token
  cloudflare_tunnel_token:
    file: ${APPDATA_LOCATION:-/srv/appdata}/secrets/cloudflare_tunnel_token

services:
  cloudflared:
    container_name: cloudflared
    image: cloudflare/cloudflared:latest
    restart: unless-stopped
    networks: 
      - proxy
    command: ['tunnel', 'run', '${CF_TUNNEL_ID}']
    secrets:
      - cloudflare_tunnel_token
    environment:
      NO_AUTOUPDATE: true
      TUNNEL_URL: http://traefik:80
      TUNNEL_TOKEN_FILE: /run/secrets/cloudflare_tunnel_token
    labels:
      selfhost.module.base: 1
      wud.watch: true
      wud.display.icon: sh-cloudflare
      wud.tag.include: ^latest$$
      wud.watch.digest: true
      wud.link.template: https://github.com/lldap/lldap/releases

  traefik:
    container_name: traefik
    image: traefik:v3.3.4
    restart: unless-stopped
    networks:
      - proxy
    extra_hosts:
      - "host.docker.internal:host-gateway"
    deploy:
      resources:
        limits:
          pids: ${TRAEFIK_PID_LIMIT:-2048}
    ports:
      - 443:443
    volumes: 
      - ${APPDATA_LOCATION:-/srv/appdata}/traefik:/etc/traefik
      - /var/run/docker.sock:/var/run/docker.sock:ro
    secrets:
      - cloudflare_dns_api_token
    environment:
      TZ: ${TZ:-America/Los_Angeles}
      HOST_HOSTNAME: ${TRAEFIK_HOSTNAME:-traefik}
      HOST_CONTAINERNAME: traefik
      CF_DNS_API_TOKEN_FILE: /run/secrets/cloudflare_dns_api_token
      CF_DOMAIN_NAME: ${CF_DOMAIN_NAME}
      TRAEFIK_HOSTNAME: traefik
      TRAEFIK_ENTRYPOINTS_tailnet_HTTP_TLS_DOMAINS_0_MAIN: "*.${CF_DOMAIN_NAME}"
      TRAEFIK_ENTRYPOINTS_tailnet_HTTP_TLS_DOMAINS_0_SANS: ${CF_DOMAIN_NAME}
      TRAEFIK_CERTIFICATERESOLVERS_tailnetResolver_ACME_EMAIL: ${ADMIN_EMAIL}
      TRAEFIK_SERVERSTRANSPORT_INSECURESKIPVERIFY: true
    labels:
      selfhost.module.base: 1
      dns.manage: true
      dns.content: ${TAILSCALE_IP}
      traefik.enable: true
      traefik.http.routers.api.entryPoints: tailnet
      traefik.http.routers.api.service: api@internal
      traefik.http.routers.api.rule: Host(`traefik.${CF_DOMAIN_NAME}`)
      traefik.http.routers.api.middlewares: authelia@file
      wud.watch: true
      wud.display.icon: sh-traefik
      wud.tag.include: ^v3\.\d+\.\d+$$
      wud.link.template: https://github.com/traefik/traefik/releases/tag/v$${major}.$${minor}.$${patch}

  lldap:
    container_name: lldap
    image: ghcr.io/lldap/lldap:stable
    restart: unless-stopped
    networks:
      - proxy
    ports:
      - 6360:6360
    volumes: 
      - ${APPDATA_LOCATION:-/srv/appdata}/lldap:/data
    secrets:
      - ldap_jwt_secret
      - ldap_key_seed
      - ldap_admin_password
    environment:
      UID: ${INSTALLER_UID:-1000}
      GID: ${DOCKER_GID:-1000}
      TZ: ${TZ:-America/Los_Angeles}
      LLDAP_JWT_SECRET_FILE: /run/secrets/ldap_jwt_secret
      LLDAP_KEY_SEED_FILE: /run/secrets/ldap_key_seed
      LLDAP_LDAP_BASE_DN: ${CF_DOMAIN_CN}
      LLDAP_LDAP_USER_PASS_FILE: /run/secrets/ldap_admin_password
      LLDAP_LDAPS_OPTIONS__ENABLED: true
      LLDAP_LDAPS_OPTIONS__CERT_FILE: /data/cert.pem
      LLDAP_LDAPS_OPTIONS__KEY_FILE: /data/key.pem
    labels:
      selfhost.module.base: 1
      dns.manage: true
      dns.content: ${TAILSCALE_IP}
      traefik.enable: true
      traefik.http.routers.lldap.entryPoints: tailnet
      traefik.http.routers.lldap.rule: Host(`lldap.${CF_DOMAIN_NAME}`)
      traefik.http.services.lldap.loadbalancer.server.port: 17170
      # traefik.http.routers.api.middlewares: authelia@file
      wud.watch: true
      wud.display.icon: sh-ldap
      wud.tag.include: ^stable$$
      wud.watch.digest: true
      wud.link.template: https://github.com/lldap/lldap/releases

  authelia:
    container_name: authelia
    image: ghcr.io/authelia/authelia:4.39.1
    restart: unless-stopped
    networks:
      - proxy
    volumes: 
      - ${APPDATA_LOCATION:-/srv/appdata}/authelia:/config
    secrets:
      - authelia_session_secret
      - authelia_storage_encryption_key
      - smtp_password
      - ldap_jwt_secret
      - ldap_authelia_password
      - oidc_hmac_secret
      - oidc_jwks_key
      - oidc_grafana_digest
    environment:
      PUID: ${INSTALLER_UID:-0}
      GUID: ${DOCKER_GID:-0}
      CF_DOMAIN_NAME: ${CF_DOMAIN_NAME}
      CF_DOMAIN_CN: ${CF_DOMAIN_CN}
      AUTHELIA_THEME: ${AUTHELIA_THEME}
      AUTHELIA_IDENTITY_VALIDATION_RESET_PASSWORD_JWT_SECRET_FILE: /run/secrets/ldap_jwt_secret
      AUTHELIA_TOTP_ISSUER: ${CF_DOMAIN_NAME}
      AUTHELIA_AUTHENTICATION_BACKEND_LDAP_PASSWORD_FILE: /run/secrets/ldap_authelia_password
      AUTHELIA_SESSION_SECRET_FILE: /run/secrets/authelia_session_secret
      AUTHELIA_STORAGE_ENCRYPTION_KEY_FILE: /run/secrets/authelia_storage_encryption_key
      AUTHELIA_NOTIFIER_SMTP_USERNAME: ${SMTP_USERNAME}
      AUTHELIA_NOTIFIER_SMTP_PASSWORD_FILE: /run/secrets/smtp_password
      AUTHELIA_NOTIFIER_SMTP_ADDRESS: smtp://${SMTP_SERVER}:${SMTP_PORT}
      AUTHELIA_NOTIFIER_SMTP_SENDER: ${SMTP_SENDER}@${CF_DOMAIN_NAME}
      AUTHELIA_IDENTITY_PROVIDERS_OIDC_HMAC_SECRET_FILE: /run/secrets/oidc_hmac_secret
      OIDC_GRAFANA_CLIENT_ID: ${OIDC_GRAFANA_CLIENT_ID}
      X_AUTHELIA_CONFIG: /config/configuration.yml
      X_AUTHELIA_CONFIG_FILTERS: template
    labels:
      selfhost.module.base: 1
      dns.manage: true
      dns.cloudflare.proxied: true
      traefik.enable: true
      traefik.http.routers.authelia.entryPoints: cloudflare
      traefik.http.routers.authelia.rule: Host(`authelia.${CF_DOMAIN_NAME}`)
      traefik.http.services.authelia.loadbalancer.server.port: 9091
      wud.watch: true
      wud.display.icon: sh-authelia
      wud.tag.include: ^4\.\d+\.\d+$$
      wud.link.template: https://github.com/authelia/authelia/releases/tag/v$${major}.$${minor}.$${patch}

  trafego:
    container_name: trafego
    image: ghcr.io/elmerfds/trafegodns:1.9.1
    restart: unless-stopped
    networks:
      - proxy
    volumes: 
      - ${APPDATA_LOCATION:-/srv/appdata}/trafego:/config
      - /var/run/docker.sock:/var/run/docker.sock:ro
    secrets:
      - cloudflare_dns_api_token
    environment:
      DNS_PROVIDER: cloudflare
      DNS_DEFAULT_MANAGE: false
      DNS_DEFAULT_PROXIED: false
      DNS_DEFAULT_CONTENT: ${CF_TUNNEL_ID}.cfargotunnel.com
      CLOUDFLARE_TOKEN_FILE: /run/secrets/cloudflare_dns_api_token
      CLOUDFLARE_ZONE: ${CF_DOMAIN_NAME}
      TRAEFIK_API_URL: http://traefik:8080/api
    labels:
      selfhost.module.base: 1
      wud.watch: true
      # wud.trigger.include: dockercompose.base,smtp.default
      wud.display.icon: sh-ddns-updater
      wud.tag.include: ^\d+\.\d+\.\d+$$
      wud.link.template: https://github.com/elmerfds/TrafegoDNS/releases/tag/v$${major}.$${minor}.$${patch}

  wud:
    container_name: wud
    image: ghcr.io/getwud/wud:8.0.1
    restart: unless-stopped
    networks:
      - proxy
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ${APPDATA_LOCATION:-/srv/appdata}/compose/${COMPOSE_PROJECT_NAME}:/wud/compose
    environment:
      - TZ=${TZ}
      - WUD_WATCHER_LOCAL_CRON=0 8 * * *
      - WUD_WATCHER_LOCAL_WATCHBYDEFAULT=false
      - WUD_TRIGGER_DOCKER_LOCAL_AUTO=false
      - WUD_TRIGGER_SMTP_DEFAULT_HOST=${SMTP_SERVER}
      - WUD_TRIGGER_SMTP_DEFAULT_PORT=${SMTP_PORT}
      - WUD_TRIGGER_SMTP_DEFAULT_FROM=${SMTP_SENDER}@${CF_DOMAIN_NAME}
      - WUD_TRIGGER_SMTP_DEFAULT_TO=${ADMIN_EMAIL}
      - WUD_TRIGGER_SMTP_DEFAULT_USER=${SMTP_USERNAME}
      - WUD_TRIGGER_SMTP_DEFAULT_PASS=${SMTP_PASSWORD}
      # - WUD_TRIGGER_SMTP_DEFAULT_TLS_ENABLED=true
      - "WUD_TRIGGER_SMTP_DEFAULT_SIMPLETITLE=An update is available for: $${container.displayName}!"
      - "WUD_TRIGGER_SMTP_DEFAULT_SIMPLEBODY=A new version was found for $${container.displayName}. $${container.updateKind.kind=='tag' ? 'The current version ' + container.updateKind.localValue + ' can be updated to ' + container.updateKind.remoteValue : 'The digest for tag ' + container.result.tag + ' has changed.'}\\n\\n$${container.result && container.result.link ? 'Please review what has changed before updating: ' + container.result.link : ''}\\n\\nTo apply the update, visit: https://updates.${CF_DOMAIN_NAME}"
    labels:
      selfhost.module.base: 1
      dns.manage: true
      dns.content: ${TAILSCALE_IP}
      traefik.enable: true
      traefik.docker.network: proxy
      traefik.http.routers.wud.entryPoints: tailnet
      traefik.http.routers.wud.rule: Host(`updates.${CF_DOMAIN_NAME}`)
      traefik.http.services.wud.loadbalancer.server.port: 3000
      traefik.http.routers.wud.middlewares: authelia@file
      wud.watch: true
      wud.display.icon: sh-wud
      wud.tag.include: ^\d+\.\d+\.\d+$$
      wud.link.template: https://getwud.github.io/wud/#/changelog/?id=_$${major}$${minor}$${patch}
