networks:
  immich:
  immich-proxy:
    name: immich-proxy

volumes:
  model-cache:

secrets:
  immich_db_password:
    file: ${APPDATA_LOCATION:-/srv/appdata}/secrets/immich_db_password
  oidc_immich_digest:
    file: ${APPDATA_LOCATION:-/srv/appdata}/secrets/oidc_immich_digest
  oidc_immich_password:
    file: ${APPDATA_LOCATION:-/srv/appdata}/secrets/oidc_immich_password

services:
  traefik:
    networks:
      - immich-proxy

  authelia:
    secrets:
      - oidc_immich_digest
    environment:
      OIDC_IMMICH_CLIENT_ID: ${OIDC_IMMICH_CLIENT_ID}

  immich-server:
    container_name: immich_server
    image: ghcr.io/immich-app/immich-server:${IMMICH_VERSION:-release}
    # extends:
    #   file: hwaccel.transcoding.yml
    #   service: cpu # set to one of [nvenc, quicksync, rkmpp, vaapi, vaapi-wsl] for accelerated transcoding
    networks:
      - immich
      - immich-proxy
    secrets:
      - immich_db_password
    volumes:
      - ${IMMICH_UPLOAD_LOCATION:-${APPDATA_LOCATION:-/srv/appdata}/immich/upload}:/usr/src/app/upload
      - /etc/localtime:/etc/localtime:ro
    environment:
      TZ: ${TZ:-America/Los_Angeles}
      DB_HOSTNAME: immich-postgres
      DB_PASSWORD_FILE: /run/secrets/immich_db_password
      REDIS_HOSTNAME: immich-redis
    depends_on:
      - immich-redis
      - immich-postgres
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "curl -s http://localhost:2283/api/server/ping | grep -q 'pong' || exit 1"]
      interval: 30s
      timeout: 5s
      retries: 3
      start_period: 5m
      start_interval: 10s
    labels:
      dns.manage: true
      dns.cloudflare.proxied: true
      traefik.enable: true
      traefik.docker.network: immich-proxy
      traefik.http.routers.immich-server.entryPoints: cloudflare
      traefik.http.routers.immich-server.rule: Host(`${IMMICH_SUBDOMAIN:-immich}.${CF_DOMAIN_NAME}`)
      traefik.http.services.immich-server.loadbalancer.server.port: 2283

  immich-machine-learning:
    container_name: immich_machine_learning
    # For hardware acceleration, add one of -[armnn, cuda, rocm, openvino, rknn] to the image tag.
    # Example tag: ${IMMICH_VERSION:-release}-cuda
    image: ghcr.io/immich-app/immich-machine-learning:${IMMICH_VERSION:-release}
    # extends: # uncomment this section for hardware acceleration - see https://immich.app/docs/features/ml-hardware-acceleration
    #   file: hwaccel.ml.yml
    #   service: cpu # set to one of [armnn, cuda, rocm, openvino, openvino-wsl, rknn] for accelerated inference - use the `-wsl` version for WSL2 where applicable
    networks:
      - immich
    volumes:
      - model-cache:/cache
    restart: always
    healthcheck:
      disable: false

  immich-redis:
    container_name: immich_redis
    image: docker.io/redis:6.2-alpine@sha256:148bb5411c184abd288d9aaed139c98123eeb8824c5d3fce03cf721db58066d8
    networks:
      - immich
    healthcheck:
      test: redis-cli ping || exit 1
    restart: always

  immich-postgres:
    container_name: immich_postgres
    image: docker.io/tensorchord/pgvecto-rs:pg14-v0.2.0@sha256:739cdd626151ff1f796dc95a6591b55a714f341c737e27f045019ceabf8e8c52
    networks:
      - immich
    secrets:
      - immich_db_password
    environment:
      POSTGRES_USER: postgres
      POSTGRES_DB: immich
      POSTGRES_PASSWORD_FILE: /run/secrets/immich_db_password
      POSTGRES_INITDB_ARGS: '--data-checksums'
    volumes:
      - ${APPDATA_LOCATION:-/srv/appdata}/immich/db:/var/lib/postgresql/data
    healthcheck:
      test: >-
        pg_isready --dbname="$${POSTGRES_DB}" --username="$${POSTGRES_USER}" || exit 1; Chksum="$$(psql --dbname="$${POSTGRES_DB}" --username="$${POSTGRES_USER}" --tuples-only --no-align --command='SELECT COALESCE(SUM(checksum_failures), 0) FROM pg_stat_database')"; echo "checksum failure count is $$Chksum"; [ "$$Chksum" = '0' ] || exit 1
      interval: 5m
      start_interval: 30s
      start_period: 5m
    command: >-
      postgres -c shared_preload_libraries=vectors.so -c 'search_path="$$user", public, vectors' -c logging_collector=on -c max_wal_size=2GB -c shared_buffers=512MB -c wal_compression=on
    restart: always
